<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> -->
    <link rel="stylesheet" href="./css/bootstrap.css"> <!-- Importing Bootstrap CSS -->
    <script src="./js/bootstrap.bundle.min.js"></script> <!-- Importing Bootstrap JS -->

    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="./assets/indeed-favicon.png" type="image/x-icon">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
    </style>

    <script src="https://kit.fontawesome.com/e9d5fb96da.js" crossorigin="anonymous"></script>
    <title>5 Full Stack Developer Jobs and Vacancies in Lucknow | Indeed</title>
</head>

<body style="font-family:'Noto Sans', Verdana, Geneva, Tahoma, sans-serif; ">

    <nav class="navbar navbar-expand-sm bg-white navbar-light nav-main">
        <div class="container-fluid">
            <ul class="navbar-nav nav-ul">
                <!-- LEFT -->
                <img class="nav-logo" src="./assets/indeed-logo.png" alt="">
                <img src="./assets/ukrain-support.png" alt="" style="width: 50px; margin-left: 20px; margin-top: 10px;">
                <li class="nav-item" style="margin-left: 20px;">
                    <a class="nav-link text-dark" href="#" id="find-job-link">Find job</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Company reviews</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Salary Guide</a>
                </li>
                <!-- RIGHT -->
                <li class="nav-item" style="margin-left: 39vw;">
                    <a class="nav-link text-dark" href="#">Post your resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style="color: rgb(0, 0, 162);"><strong>Sign in</strong></a>
                </li>
                <li class="nav-item" id="disabled-li">
                    <a class="nav-link disabled" href="#">|</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="#">Employers/Post Job</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container main-section">
        <form>
            <div class="row mt-3" style="margin: 10px 100px;">
                <div class="input-group col input-div">
                    <span class="input-group-text text-dark bg-white input-span"><strong
                            style="color: rgb(0, 0, 162);">What</strong></span>
                    <input id="input-sec1" type="text/search" value="full stack web developer"
                        class="form-control input-sec"
                        style="border-top-right-radius: 10px; border-bottom-right-radius: 10px;"
                        placeholder="Job title, keywords, or company" required>
                    <span class="input-group-append">
                        <button class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border-0 ms-n5"
                            type="button">
                            <i class="fa fa-search" style="border: non;"></i>
                        </button>
                    </span>
                </div>
                <div class="input-group col input-div">
                    <span class="input-group-text text-dark bg-white input-span"><strong
                            style="color: rgb(0, 0, 162);">Where</strong></span>
                    <input id="input-sec2" type="text/search" value="Lucknow, Uttar Pradesh"
                        class="form-control input-sec"
                        style="border-top-right-radius: 10px; border-bottom-right-radius: 10px;"
                        placeholder="City, state or Pin code" required>
                    <span class="input-group-append">
                        <button class="btn btn-outline-secondary bg-white border-start-0 border-bottom-0 border-0 ms-n5"
                            type="button">
                            <i class="fa fa-location" style="border: non;"></i>
                        </button>
                    </span>
                </div>
                <div class="input-group p-3" style="width: 100%; justify-content: center;">
                    <button id="submit-btn-jobs" type="submit" class="btn btn-primary" value="submit"
                        style="font-size: 0.9rem; background-color: rgb(0,0,162); border-radius: 8px;">Find Job</button>
                </div>

            </div>
        </form>
        <!-- <div class="row p-2">
            <div class="col" style="display: flex; justify-content: center;">
                <span class="post-res-ser">Post your resume</span>
                <span style="margin-left: 6px;">- It only takes a few seconds</span>
            </div>
        </div> -->
        <div class="">
            <button type="button" class="btn btn-primary dropdown-toggle upper-drop-btn" data-bs-toggle="dropdown">
                Date Posted
            </button>
            <ul class="dropdown-menu upper-drop-ul">
                <li><a class="dropdown-item" href="#">Last 24 hours</a></li>
                <li><a class="dropdown-item" href="#">Last 3 Days</a></li>
                <li><a class="dropdown-item" href="#">Last 7 Days</a></li>
                <li><a class="dropdown-item" href="#">Last 14 Days</a></li>
                <li><a class="dropdown-item" href="#">Since your last visit</a></li>
            </ul>
            <button type="button" class="btn btn-primary dropdown-toggle upper-drop-btn" data-bs-toggle="dropdown">
                Remote
            </button>
            <ul class="dropdown-menu upper-drop-ul">
                <li><a class="dropdown-item" href="#">Remote(1)</a></li>
            </ul>
            <button type="button" class="btn btn-primary dropdown-toggle upper-drop-btn" data-bs-toggle="dropdown">
                within 25 kilometers
            </button>
            <ul class="dropdown-menu upper-drop-ul">
                <li><a class="dropdown-item" href="#">Exact location only</a></li>
                <li><a class="dropdown-item" href="#">within 5 kilometers</a></li>
                <li><a class="dropdown-item" href="#">within 10 kilometers</a></li>
                <li><a class="dropdown-item" href="#">within 15 kilometers</a></li>
                <li><a class="dropdown-item" href="#">within 25 kilometers</a></li>
                <li><a class="dropdown-item" href="#">within 35 kilometers</a></li>
                <li><a class="dropdown-item" href="#">within 50 kilometers</a></li>
                <li><a class="dropdown-item" href="#">within 100 kilometers</a></li>
            </ul>
            <button type="button" class="btn btn-primary dropdown-toggle upper-drop-btn" data-bs-toggle="dropdown">
                Salary Estimate
            </button>
            <ul class="dropdown-menu upper-drop-ul">
                <li><a class="dropdown-item" href="#">₹ 18,333.33+/month</a></li>
                <li><a class="dropdown-item" href="#">₹ 24,166.67+/month</a></li>
                <li><a class="dropdown-item" href="#">₹ 30,000.00+/month</a></li>
                <li><a class="dropdown-item" href="#">₹ 37,500.00+/month</a></li>
                <li><a class="dropdown-item" href="#">₹ 65,000.00+/month</a></li>
            </ul>
            <button type="button" class="btn btn-primary dropdown-toggle upper-drop-btn" data-bs-toggle="dropdown">
                Job Type
            </button>
            <ul class="dropdown-menu upper-drop-ul">
                <li><a class="dropdown-item" href="#">Full-time</a></li>
                <li><a class="dropdown-item" href="#">Contract</a></li>
                <li><a class="dropdown-item" href="#">Part-time</a></li>
                <li><a class="dropdown-item" href="#">Temporary</a></li>
            </ul>
            <button type="button" class="btn btn-primary dropdown-toggle upper-drop-btn" data-bs-toggle="dropdown">
                Programming Language
            </button>
            <ul class="dropdown-menu upper-drop-ul">
                <li><a class="dropdown-item" href="#">Java</a></li>
                <li><a class="dropdown-item" href="#">C++</a></li>
                <li><a class="dropdown-item" href="#">C</a></li>
                <li><a class="dropdown-item" href="#">R</a></li>
                <li><a class="dropdown-item" href="#">Ruby</a></li>
                <li><a class="dropdown-item" href="#">Python</a></li>
                <li><a class="dropdown-item" href="#">HTML</a></li>
                <li><a class="dropdown-item" href="#">CSS</a></li>
                <li><a class="dropdown-item" href="#">JS</a></li>
                <li><a class="dropdown-item" href="#">PHP</a></li>
                <li><a class="dropdown-item" href="#">React JS</a></li>
                <li><a class="dropdown-item" href="#">Angular JS</a></li>
                <li><a class="dropdown-item" href="#">SQL</a></li>
                <li><a class="dropdown-item" href="#">More...</a></li>
            </ul>
            <button type="button" class="btn btn-primary dropdown-toggle upper-drop-btn" data-bs-toggle="dropdown">
                Education level
            </button>
            <ul class="dropdown-menu upper-drop-ul">
                <li><a class="dropdown-item" href="#">Master's Degree</a></li>
                <li><a class="dropdown-item" href="#">Bachelor's Degree</a></li>
                <li><a class="dropdown-item" href="#">12th Pass</a></li>
                <li><a class="dropdown-item" href="#">Diploma</a></li>
            </ul>
            <button type="button" class="btn btn-primary dropdown-toggle upper-drop-btn" data-bs-toggle="dropdown">
                Location
            </button>
            <ul class="dropdown-menu upper-drop-ul">
                <li><a class="dropdown-item" href="#">Lucknow, Uttar Pradesh</a></li>
            </ul>
            <button type="button" class="btn btn-primary dropdown-toggle upper-drop-btn" data-bs-toggle="dropdown">
                Job Language
            </button>
            <ul class="dropdown-menu upper-drop-ul">
                <li><a class="dropdown-item" href="#">English</a></li>
                <li><a class="dropdown-item" href="#">Hindi</a></li>
                <li><a class="dropdown-item" href="#">Other...</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="container mid-section">
        <div class="column1 column">
            <div class="jobs-top-matter">
                <p class="m-4"><strong style="font-size: 0.9rem;"><a href="#" style="color: rgb(0, 0, 162); text-decoration: none;">Post your resume</a> and find your next job</strong></p>
                <hr width="90%" style="margin-left: 5%;">
                <p style="font-size: 0.7rem; opacity: 0.7; margin-left: 5%;">Search results</p>
                <p style="font-size: 0.8rem; margin-left: 5%;">Sort by: <strong>relevance</strong> - <em class="relevance-link"><a href="" style="text-decoration: none; color: rgb(0, 0, 162);">date</a></em><span style="margin-left: 50%;">5 jobs <i class="fa fa-question-circle"></i></span></p>
            </div>
            <div class="job-mention">
                <p style="font-size: 0.7rem; opacity: 0.9; margin-bottom: 0;">new</p>
                <p class="job-title">MERN Stack Developer</p>
                <p class="job-address">Jithvar Consultancy Services Pvt. Ltd. Lucknow, Uttar Pradesh</p>
                <span class="job-ovr-main">
                    <span style="margin-right: 7px;">
                        <i class="fa fa-money" aria-hidden="true"></i> <span class="job-ovr-salary"">₹15,000 - ₹30,000 a month</span>
                    </span>
                    <span style="margin-right: 7px;">
                        <i class="fa fa-briefcase" aria-hidden="true"></i> <span class="job-ovr-type"">Full time</span>
                    </span>
                    <span style="margin-right: 7px;">
                        <i class="fa fa-clock-o" aria-hidden="true"></i> <span class="job-ovr-shift"">Day shift</span>
                    </span>
                </span>
                <div class="job-ovr-apply mt-3">
                    <span>
                        <i class="fa fa-share" aria-hidden="true" style="font-size: 0.8rem; opacity: 1; color: rgb(0, 0, 162);"></i> <span class="job-ovr-apply-sp1">Easily Apply</span>
                    </span>
                    <span style="margin-left: 5%;">
                        <i class="fa fa-user-plus" aria-hidden="true" style="font-size: 0.8rem; opacity: 1; color: rgb(0, 162, 27);"></i> <span class="job-ovr-apply-sp2">Hiring Multiple Candidates</span> 
                    </span>
                </div>
                <div class="job-ovr-desc">
                    <ul class="mt-3" style="list-style-type: '☛ '; margin-left: -3%;">
                        <li class="job-ovr-desc1">Full-Stack Development: Develop and maintain web applications using the MERN stack,.</li>
                        <li class="job-ovr-desc2">Collaboration and Communication: Collaborate with cross-functional teams…</li>
                    </ul>
                </div>
                <div class="job-ovr-ending">
                    <span class="job-ovr-ending1" style="opacity: .7;">Active 2 hours ago  •  </span><span class="job-ovr-ending2" style="opacity: 1;">More...</span>
                </div>
            </div>
            <div class="job-mention">
                <p style="font-size: 0.7rem; opacity: 0.9; margin-bottom: 0;">new</p>
                <p class="job-title">Full Stack Developer</p>
                <p class="job-address">Riash india Private Limited <br> Lucknow, Uttar Pradesh</p>
                <span class="job-ovr-main">
                    <span style="margin-right: 7px;">
                        <i class="fa fa-money" aria-hidden="true"></i> <span class="job-ovr-salary"">₹35,000 - ₹45,000 a month</span>
                    </span>
                    <span style="margin-right: 7px;">
                        <i class="fa fa-briefcase" aria-hidden="true"></i> <span class="job-ovr-type"">Full time</span>
                    </span>
                    <span style="margin-right: 7px;">
                        <i class="fa fa-clock-o" aria-hidden="true"></i> <span class="job-ovr-shift"">Day shift</span>
                    </span>
                </span>
                <div class="job-ovr-apply mt-3">
                    <span>
                        <i class="fa fa-share" aria-hidden="true" style="font-size: 0.8rem; opacity: 1; color: rgb(0, 0, 162);"></i> <span class="job-ovr-apply-sp1">Easily Apply</span>
                    </span>
                    <span style="margin-left: 5%;">
                        <i class="fa fa-user-plus" aria-hidden="true" style="font-size: 0.8rem; opacity: 1; color: rgb(0, 162, 27);"></i> <span class="job-ovr-apply-sp2">Hiring Multiple Candidates</span> 
                    </span>
                </div>
                <div class="job-ovr-desc">
                    <ul class="mt-3" style="list-style-type: '☛ '; margin-left: -3%;">
                        <li class="job-ovr-desc1">Full-Stack Development: Develop and maintain web applications using the MERN stack,.</li>
                        <li class="job-ovr-desc2">Collaboration and Communication: Collaborate with cross-functional teams…</li>
                    </ul>
                </div>
                <div class="job-ovr-ending">
                    <span class="job-ovr-ending1" style="opacity: .7;">Active 1 day ago  •  </span><span class="job-ovr-ending2" style="opacity: 1;">More...</span>
                </div>
            </div>
            <div class="job-mention">
                <p style="font-size: 0.7rem; opacity: 0.9; margin-bottom: 0;">new</p>
                <p class="job-title">Junior MERN Stack Developer</p>
                <p class="job-address">Inventics <br>Lucknow, Uttar Pradesh</p>
                <span class="job-ovr-main">
                    <span style="margin-right: 7px;">
                        <i class="fa fa-money" aria-hidden="true"></i> <span class="job-ovr-salary"">₹10,000 - ₹15,000 a month</span>
                    </span>
                    <span style="margin-right: 7px;">
                        <i class="fa fa-briefcase" aria-hidden="true"></i> <span class="job-ovr-type"">Internship</span>
                    </span>
                    <span style="margin-right: 7px;">
                        <i class="fa fa-clock-o" aria-hidden="true"></i> <span class="job-ovr-shift"">Any shift</span>
                    </span>
                </span>
                <div class="job-ovr-apply mt-3">
                    <span>
                        <i class="fa fa-share" aria-hidden="true" style="font-size: 0.8rem; opacity: 1; color: rgb(0, 0, 162);"></i> <span class="job-ovr-apply-sp1">Easily Apply</span>
                    </span>
                    <span style="margin-left: 5%;">
                        <i class="fa fa-user-plus" aria-hidden="true" style="font-size: 0.8rem; opacity: 1; color: rgb(0, 162, 27);"></i> <span class="job-ovr-apply-sp2">Hiring Multiple Candidates</span> 
                    </span>
                </div>
                <div class="job-ovr-desc">
                    <ul class="mt-3" style="list-style-type: '☛ '; margin-left: -3%;">
                        <li class="job-ovr-desc1">Full-Stack Development: Develop and maintain web applications using the MERN stack,.</li>
                        <li class="job-ovr-desc2">Collaboration and Communication: Collaborate with cross-functional teams…</li>
                    </ul>
                </div>
                <div class="job-ovr-ending">
                    <span class="job-ovr-ending1" style="opacity: .7;">Active 2 days ago  •  </span><span class="job-ovr-ending2" style="opacity: 1;">More...</span>
                </div>
            </div>
            <div class="job-mention">
                <p style="font-size: 0.7rem; opacity: 0.9; margin-bottom: 0;">new</p>
                <p class="job-title">MERN Stack Developer</p>
                <p class="job-address">Websultanate Software Technologies, Lucknow, Uttar Pradesh</p>
                <span class="job-ovr-main">
                    <span style="margin-right: 7px;">
                        <i class="fa fa-money" aria-hidden="true"></i> <span class="job-ovr-salary">₹15,000 - ₹25,000 a month</span>
                    </span>
                    <span style="margin-right: 7px;">
                        <i class="fa fa-briefcase" aria-hidden="true"></i> <span class="job-ovr-type">Part time</span>
                    </span>
                    <span style="margin-right: 7px;">
                        <i class="fa fa-clock-o" aria-hidden="true"></i> <span class="job-ovr-shift">Any shift</span>
                    </span>
                </span>
                <div class="job-ovr-apply mt-3">
                    <span>
                        <i class="fa fa-share" aria-hidden="true" style="font-size: 0.8rem; opacity: 1; color: rgb(0, 0, 162);"></i> <span class="job-ovr-apply-sp1">Easily Apply</span>
                    </span>
                    <span style="margin-left: 5%;">
                        <i class="fa fa-user-plus" aria-hidden="true" style="font-size: 0.8rem; opacity: 1; color: rgb(0, 162, 27);"></i> <span class="job-ovr-apply-sp2">Hiring Multiple Candidates</span> 
                    </span>
                </div>
                <div class="job-ovr-desc">
                    <ul class="mt-3" style="list-style-type: '☛ '; margin-left: -3%;">
                        <li class="job-ovr-desc1">Full-Stack Development: Develop and maintain web applications using the MERN stack,.</li>
                        <li class="job-ovr-desc2">Collaboration and Communication: Collaborate with cross-functional teams…</li>
                    </ul>
                </div>
                <div class="job-ovr-ending">
                    <span class="job-ovr-ending1" style="opacity: .7;">Active 2 days ago  •  </span><span class="job-ovr-ending2" style="opacity: 1;">More...</span>
                </div>
            </div>
            <div class="job-mention">
                <p style="font-size: 0.7rem; opacity: 0.9; margin-bottom: 0;">new</p>
                <p class="job-title">Senior MERN Stack Developer</p>
                <p class="job-address">A.P. Enterprises Pvt. Ltd. Lucknow, Uttar Pradesh</p>
                <span class="job-ovr-main">
                    <span style="margin-right: 7px;">
                        <i class="fa fa-money" aria-hidden="true"></i> <span class="job-ovr-salary">₹30,000 - ₹50,000 a month</span>
                    </span>
                    <span style="margin-right: 7px;">
                        <i class="fa fa-briefcase" aria-hidden="true"></i> <span class="job-ovr-type">Full time</span>
                    </span>
                    <span style="margin-right: 7px;">
                        <i class="fa fa-clock-o" aria-hidden="true"></i> <span class="job-ovr-shift">Day shift</span>
                    </span>
                </span>
                <div class="job-ovr-apply mt-3">
                    <span>
                        <i class="fa fa-share" aria-hidden="true" style="font-size: 0.8rem; opacity: 1; color: rgb(0, 0, 162);"></i> <span class="job-ovr-apply-sp1">Easily Apply</span>
                    </span>
                    <span style="margin-left: 5%;">
                        <i class="fa fa-user-plus" aria-hidden="true" style="font-size: 0.8rem; opacity: 1; color: rgb(0, 162, 27);"></i> <span class="job-ovr-apply-sp2">Hiring Multiple Candidates</span> 
                    </span>
                </div>
                <div class="job-ovr-desc">
                    <ul class="mt-3" style="list-style-type: '☛ '; margin-left: -3%;">
                        <li class="job-ovr-desc1">Full-Stack Development: Develop and maintain web applications using the MERN stack,.</li>
                        <li class="job-ovr-desc2">Collaboration and Communication: Collaborate with cross-functional teams…</li>
                    </ul>
                </div>
                <div class="job-ovr-ending">
                    <span class="job-ovr-ending1" style="opacity: .7;">Active 4 days ago  •  </span><span class="job-ovr-ending2" style="opacity: 1;">More...</span>
                </div>
            </div>
        </div>
        <div class="column2 column">
            <div class="desc-1">
                <h4 class="job-desc-title">
                    <strong>MERN Stack Developer</strong>
                </h4>
                <p class="job-desc-address"><span>Jithvar Consultancy Services Pvt. Ltd. </span><br> Lucknow, Uttar Pradesh</p>
                <p class="job-desc-main-salary">₹15,000 - ₹30,000 a month</p>
                <button class="btn btn-primary desc-btn1"><strong>Apply now</strong></button> <button class="btn btn-light desc-btn2"><i class="fa fa-bookmark" aria-hidden="true"></i></button>
            </div>
            <div class="desc-2">
                <p class="job-desc-det"><strong>Job details</strong></p>
                <p class="job-desc-det-sm"><em>No matching</em> <span style="text-decoration: underline;"><em>job preferences</em> <i class="fa fa-external-link" aria-hidden="true" style="font-size: 0.8rem;"></i></span></p>
                <span>
                    <span class="job-desc-sec-vals">
                        <span class="job-desc-vals"><i class="fa fa-money" aria-hidden="true"></i> Salary</span><br>
                        <span class="job-desc-valdet">₹30,000 - ₹50,000 a month</span>
                    </span><br>
                    <span class="job-desc-sec-vals">
                        <span class="job-desc-vals"><i class="fa fa-briefcase" aria-hidden="true"></i> Job Type</span><br>
                        <span class="job-desc-valdet">Full-time</span>
                    </span><br>
                    <span class="job-desc-sec-vals">
                        <span class="job-desc-vals"><i class="fa fa-clock-o" aria-hidden="true"></i> Shift and schedule</span><br>
                        <span class="job-desc-valdet">Day Shift</span>
                    </span>
                </span>
                <div class="mt-3" style="font-size: 0.9rem;">
                    <span><strong>Benefits and Perks</strong></span><br>
                    <span>Paid sick time</span>
                </div>
                <hr style="width: 107%; margin-left: -3.5%; height: .1px;">
                <div class="job-description" >
                    <ul class="mt-3" style="list-style-type: disc; margin-left: -3%;">
                        <li class="job-ovr-desc1">A MERN stack developer is responsible for building web and window based applications using the MERN stack, which includes the following technologies: Node.js, MongoDB, React.js, Next js.</li>
                        <li class="job-ovr-desc2">Collaboration and Communication: Collaborate with cross-functional teams…</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row main-footer p-3">
        <div class="">
            <a class="footer-link text-dark" href="#">Career Advice</a>
            <a class="footer-link text-dark" href="#">Browse Jobs</a>
            <a class="footer-link text-dark" href="#">Browse Companies</a>
            <a class="footer-link text-dark" href="#">Salaries</a>
            <a class="footer-link text-dark" href="#">Indeed Events</a>
            <a class="footer-link text-dark" href="#">Work at Indeed</a>
            <a class="footer-link text-dark" href="#">Countries</a>
            <a class="footer-link text-dark" href="#">About</a>
            <a class="footer-link text-dark" href="#">Help Centre</a>
            <a class="footer-link text-dark" href="#">ESG at Indeed</a><br>
            <a class="footer-link text-dark" href="#">Guidelines for safe job search</a>
            <a class="footer-link text-dark" href="#">Post a job</a>
        </div>
        <div class="mt-4">
            <a class="footer-link text-dark" href="#">&copy;2023 Indeed</a>
            <a class="footer-link text-dark" href="#">Accessibility at Indeed</a>
            <a class="footer-link text-dark" href="#">Privacy Centre</a>
            <a class="footer-link text-dark" href="#">Cookies</a>
            <a class="footer-link text-dark" href="#">Privacy</a>
            <a class="footer-link text-dark" href="#">Terms</a>
        </div>
        <div class="footer-bottom"
            style="display: flex; flex-direction: column; align-items: center; width: 100vw; margin-left: 0px; position: static; bottom: -10px;padding: 10px 100px; background-color: rgb(245, 245, 240);">
            <span style="font-size: 1.2rem; font-weight: 600; margin-bottom: 10px;"><strong>Let employers find
                    you</strong></span>
            <button class="btn btn-primary" style="border-radius: 8px; background-color: rgb(0, 0, 162);"><strong>Upload
                    Your Resume</strong></button>
        </div>
    </div>


    <script src="./script.js"></script>
</body>

</html>